.form {
  width: 50%;

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  width: 100%;

  input,
  textarea {
    background: #181818;
    color: #fff;
    border: 2px solid #bfc9db;
    border-radius: 32px;
    padding: 16px 24px;
    font-size: 18px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-raleway-sans);
    font-size: 1em;
  }

  textarea {
    height: 10em;
    border-radius: 26px;
  }

  .secondaryInput {
    background-color: white;
    color: #181818;
    border-color: #fff;
  }

  button {

    border: none;
    border-radius: 32px;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    font-family: inherit;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .primaryButton {
    background: var(--brandcolor);
    color: #181818;

  }

  .secondaryButton {
    background: #181818;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    input {
      width: 100%;
      margin-bottom: 0px;
    }
  }
}