.Footer {
    background-color: var(--backgroundAlternative);

    &Form {
        background-color: var(--background);
        padding: 80px 10px;

        &Container {
            padding: 80px 25px;
            background-color: var(--brandcolor);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 32px;
            color: #110F0F;
        }
    }

    &Container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;

    }

    &Content {
        display: flex;
        padding: 40px 0;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }

        h2 {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 12px;
        }

        nav ul {
            display: flex;
            gap: 5px;
            list-style: none;
            padding: 0;
            flex-direction: column;

            li {
                a {
                    color: #a3a3a3;
                    text-decoration: none;
                    font-weight: 500;
                    transition: color 0.2s;
                    font-size: 1rem;

                    @media screen and (max-width: 767px) {
                        height: 40px;
                        display: block;
                        line-height: 40px;
                    }

                    &:hover {
                        color: var(--brandcolor); // Brand color
                    }
                }
            }
        }
    }

    &Logo {
        opacity: 1;
    }
}