.page {
    background-color: var(--background);

    >div:nth-child(even) {
        background-color: var(--backgroundAlternative);
    }


}

.container {
    width: 100%;
}

.banner {
    height: unset;
    padding-top: 70px;
    padding-bottom: 30px;
    background-position: center;
    background-size: cover;
}

.content {

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 20px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: left;
    color: var(--foreground);
    margin-top: 2rem;
    p {
        font-size: 1rem;
        line-height: 1.5rem;

        opacity: 1;
    }
}