:root {
  --background: #f3f3f3;
  --foreground: #312f2c;
  --backgroundAlternative: #f5f5f5;

  /* --background: #0a0a0a;
  --foreground: #ededed;
  --backgroundAlternative: #000; */
  --brandcolor: #ffa800;
  --brandGradient: linear-gradient(
    90deg,
    #9de8ee 0%,
    #f47c0b 49%,
    #9f8ced 100%
  );

  --rounded : 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --backgroundAlternative: #000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 10px 25px;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
